html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  color: #444;
  margin:0;
}

.container {
  width: 100%;

}
#who { background-color: #fff; }
#what { background-color: #f0f0f0; }
#where { background-color: #fff; }

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em 10px;
}

h1 {
  margin-top: 0;
}

a {
  //text-decoration: none;
  font-weight: 700;
  color: #444;
  padding:3px 5px;
}

a:hover {
  background-color: #444;
  color: #fff;
  text-decoration: none;
}

.content h1 {
  color:#333;
}

.crossed {
  text-decoration: line-through;
}

.list-container {
  overflow: hidden;
}
.contact-list {
  list-style: none;
  float:left;
  margin: 0;
  width: 30%;
}

@media (max-width: 414px) {
  .contact-list {
    width: 100%;
  }
  .contact-list li a {
    font-size: 1.5em;
  }
}

